{% extends 'projects/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<br><br>
<style>
    input {
        padding: 20px;
        border-radius: 30px;
    }
    input[type="submit"] {
        border: none;
        background: none;
        color: white;
    }
</style>
<form class="form block" method="post" style="display:flex;flex-direction:column;align-items:center;">
    {% csrf_token %}
    {{form.as_p}}
    <div class="pay button"><input type="submit" value='{% translate "Войти" %}'></div>
</form>

<br><br>

{% endblock content %}

<!--for LOGOUT-->
<!--{% if user.is_authenticated %}-->
<!--  Hi {{ user.username }}!-->
<!--  <p><a href="{% url 'logout' %}">Log Out</a></p>-->
<!--{% else %}-->
<!--  <p>You are not logged in</p>-->
<!--  <a href="{% url 'login' %}">Log In</a>-->
<!--{% endif %}-->