.support {
    min-height: 590px;
    padding: 80px 0 0 0;
    background: #4F4B69;
    color: white;
}

.support h2 {
    margin: 60px 0;
}

.support__text {
    width: 45%;
    font-size: 18px;
}

.support__text .button {
    display: inline-block;
    margin-right: 20px; 
}

.support__text .button:last-child {
    margin-bottom: 20px; 
}

.support .button {
    margin-top: 40px;
}

.support__img {
    position: absolute;
    right: 0;
    top: 0; 
    width: 45%;
    margin-bottom: 60px;
}

.support__img-front {
    position: absolute;
    top: 0;
    width: 100%;
    border-left: 2px solid white;
    border-radius: 30px;
    z-index: 10;
}

.support__img-front:before {
    content: '';
    position: absolute;
    right: -10px;
    top: -10px;
    width: 97%;
    height: 97%;
    border: 2px solid white;
    border-radius: 30px;
    z-index: -1;
}

.support__img-front img {
    width: 100%;
    border-radius: 30px;
}

.support__img-back {    
    position: absolute;
    left: -40px;
    top: 50px;
    width: 80%;
    z-index: -1;
    border-radius: 30px;
    transform: scaleX(-1);
    z-index: 5;
}

.support__img-back img {
    width: 100%;
    border-radius: 30px;
}

@media (max-width: 1500px) {
    .support {
        min-height: 450px;
        padding: 40px 0 0 0;
    }

    .support h2 {
        margin: 50px 0;
    }

    .support__text {
        font-size: 16px;
    }

    .support .button {
        margin-top: 40px;
    }

    .support__img {
        width: 50%;
    }

    .support__img-back {    
        left: -20px;
        top: 30px;
    }
}

@media (max-width: 1100px) {
    .support {
        height: auto;
        padding: 1px 0 44px 0;
    }

    .support__text {
        margin-bottom: 50px;
    }

    .support h2 {
        margin: 50px 0;
    }

    .support__text {
        width: 90%;
        font-size: 16px;
    }

    .support .button {
        margin-top: 40px;
    }

    .support__img {
        position: relative;
        width: 100%;
    }

    .support__img-front {
        position: relative
    }

    .support__img-back {    
        left: -20px;
        top: 30px;
    }
}