.about-us {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    padding: 80px 0;
    background: #4F4B69 url('../img/pngwing.png');
    background-repeat: repeat-x;
    background-size: 70%;
}

.about-us .container {
    width: 90%;
}

.about-us h2 {
    position: relative;
    top: -30px;
    margin: 60px 0;
    color: white;
}

.about-us__subtitle {
    width: 40%;
    margin: 60px 0;
    font-size: 18px;
    color: white;
}

.about-us__cards {
    position: relative;
    width: 100%;
}

.about-us__card-wrapper {
    position: absolute;
    left: 0;
}

.about-us__card {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    min-height: 300px;
    width: 100%;
    left: 0px;
    padding: 40px;
    margin-right: 30px;
    border: 2px solid #7B8AA8;
    border-radius: 30px;
    background: #FFFFFF;
}

.about-us__card h3 {
    position: absolute;
    top: 15px;
    margin: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 30px;
}

/* condenced */

.about-us.is-condenced h2 {
    margin: 0;
}

.about-us.is-condenced .about-us__subtitle {
    display: none;
}

.about-us.is-condenced .about-us__card {
    padding: 20px 10px 10px 10px;
}

.about-us.is-condenced .about-us__card h3 {
    font-size: 16px;
}

.about-us.is-condenced .about-us__card p {
    position: relative;
    top: 10px;
    margin: 0;
    font-size: 0.9em;
}

/* 3 columns */

.about-us[data-columns="3"] .about-us__card-wrapper {
    width: 32%;
}

.about-us[data-columns="3"] .about-us__card-wrapper:nth-child(3n+0) {
    left: 0;
}

.about-us[data-columns="3"] .about-us__card-wrapper:nth-child(3n+2) {
    left: 34%;
}

.about-us[data-columns="3"] .about-us__card-wrapper:nth-child(3n+1) {
    left: 68%;
}

/* 2 columns */

.about-us[data-columns="2"] .about-us__card-wrapper {
    width: 47%;
}
.about-us[data-columns="2"] .about-us__card-wrapper:nth-child(2n+1) {
    left: 0;
}
.about-us[data-columns="2"] .about-us__card-wrapper:nth-child(2n+2) {
    left: 53%;
}

/* 1 columns */

.about-us[data-columns="1"] .about-us__card-wrapper {
    width: 100%;
}
.about-us[data-columns="1"] .about-us__card-wrapper:nth-child(1n) {
    left: 0;
}
.about-us[data-columns="1"] .about-us__card {
    width: 100%;
    left: 0px;
}

@media (min-width: 1500px) {
}

@media (max-width: 1500px) {
    .about-us__card h3 {
        font-size: 24px;
    }
}

@media (max-width: 1100px) {
    .about-us__card h3 {
        font-size: 24px;
    }
}

@media (max-width: 900px) {
    .about-us__subtitle {
        width: 80%;
    }
    .about-us__card h3 {
        font-size: 24px;
    }
}