.participate {
    position: relative;
    margin-bottom: 60px;
}

.participate-wrapper {
    display: flex; 
    justify-content: space-between;    
    align-items: start;
}

.participate__title h2 {
    display: inline-block;
    margin-right: 20px;
}

.participate__date {
    position: relative;
    top: -3px;
    display: inline-block;
    padding: 10px 30px;
    margin-bottom: 20px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 10px #000000fc;
    background: url('../img/btbg.svg');
    background-size: 100% 150%;
    background-position: center;
    filter: grayscale(0.2) brightness(1.1);
}

.participate__date-text {
    padding: 0;
}

.participate__date.is-old {
    color: #000;
    text-shadow: none;
    padding: 2px;
}

.participate__date.is-old .project__date-text {
    padding: 6px 26px;
    border-radius: 30px;
    background: #fff;
}

.participate__state {
    font-weight: bold;
    padding-bottom: 40px;
    color: #4F4B69;
}

.participate__form-column {
    width: 40%;
    flex: 40% 0 0;
}

.participate__photo-column {
    width: 40%;
    flex: 40% 0 0;
}

.participate__form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-item {
    width: 40%;
    flex: 40% 0 0;
    margin-bottom: 20px;
}

.form-item__label {
    width: 100%;
    margin-bottom: 20px;
}

.form-item__input input {
    width: 100%;
    padding: 18px 30px;
    border: none;
    border-radius: 30px;
    background: #D9D9D9;
}

.form-item__input input:invalid {
    background: #e2787a;
}

.participate__form-cost {
    width: 100%;
    flex: 100% 1 0;
    margin: 70px 0 30px 0;
}

.project__photo {
    position: relative;
    right: 30px;
    width: 100%;
    margin-bottom: 30px;
    flex-shrink: 0;
}

.project__photo-front {
    position: relative;
    left: 30px;
    top: 20px;
    width: 90%;    
    border: 2px solid white;
    border-radius: 30px;
}

.project__photo-front:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: -10px;
    left: 10px;
    border: 2px solid #49BC80;
    border-radius: 30px;
    z-index: -1;
}

.project__photo-front-img {
    width: 100%;
    height: 550px;
    border-radius: 30px;
    overflow: hidden;
}

.project__photo-front-img img {    
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: auto;
}

.project__photo-back {
    position: absolute;
    left: 0px;
    top: 10%;
    width: 80%;
    height: 450px;
    transform: scaleX(-1);
}

.project__photo-back-img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    overflow: hidden;
}

.project__photo-back-img img {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: auto;
}

.project__photo-text {
    position: absolute;
    bottom: 40px;
    left: 40px;
}

.project__photo-name {
    margin-bottom: 20px;
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 30px;
}

@media (max-width: 1500px) {
    .form-item {
        width: 100%;
        flex: 100% 0 0;
    }
    .project__photo-back {
        height: 420px;
    }
    .project__photo-front-img {
        height: 480px;
    }
    .project__photo-front-img img {    
        display: block;
        width: auto;
        height: 100%;
    }
    .project__photo-back-img img {
        display: block;
        width: auto;
        height: 100%;
    }
}

@media (max-width: 1100px) {
    .project__content {
        font-size: 0.9rem;
    }
    .participate-wrapper {
        flex-wrap: wrap;
    }
    .participate__form-column {
        width: 100%;
        flex: 100% 0 0;
    }
    .participate__photo-column {
        width: 100%;
        flex: 100% 0 0;
        margin: 30px 0 120px;
    }
    .form-item {
        width: 40%;
        flex: 40% 0 0;
    }
    .project__photo-back {
        height: 290px;
    }
    .project__photo-front-img {
        height: 350px;
    }
    .project__photo-front-img img {    
        display: block;
        width: 100%;
        height: auto;
    }
    .project__photo-back-img img {
        display: block;
        width: 100%;
        height: auto;
    }
    .participate__form-cost {
        position: absolute;
        bottom: 40px;
    }
    .participate__submit {    
        position: absolute;
        bottom: 0;
    }
}

@media (max-width: 600px) {
    .project__content {
        font-size: 0.8rem;
    }
    .form-item {
        width: 100%;
        flex: 100% 0 0;
    }
}