.project {
    position: relative;
    margin-bottom: 60px;
}

.project__title h2 {
    display: inline-block;
    margin-right: 20px;
}

.project__date {
    position: relative;
    top: -3px;
    display: inline-block;
    padding: 10px 30px;
    margin-bottom: 20px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 10px #000000fc;
    background: red url('../img/btbg.svg');
    background-size: cover;
    background-position: center;
    filter: grayscale(0.2) brightness(1.1);
}

.project__date-text {
    padding: 0;
}

.project__date.is-old {
    color: #5f5f5f;
    text-shadow: none;
    padding: 2px;
}

.project__date.is-old .project__date-text {
    padding: 6px 26px;
    border-radius: 30px;
    background: #fff;
}

.project__ticket {
    display: none;
    margin: 100px 0;
    padding: 40px;
    border: 1px solid gray;
    border-radius: 10px;
}

.project__state {
    font-weight: bold;
    padding-bottom: 40px;
}

.project__content {
    font-size: 1rem;
    margin-bottom: 30px;
}

.project__state {
    font-weight: bold;
    padding-bottom: 40px;
    color: #4F4B69;
}

.project__photo {
    display: inline-block;
    position: relative;
    right: 30px;
    margin-bottom: 30px;
    flex-shrink: 0;
}

.project__photo-front {
    position: relative;
    border-radius: 30px;
    padding: 30px 30px 30px 60px;
}

.project__photo-front:before {
    content: '';
    height: calc(100% - 70px);
    width: calc(100% - 70px);
    position: absolute;
    top: 20px;
    left: 50px;
    border: 2px solid #49BC80;
    border-radius: 30px;
    z-index: -1;
}

.project__photo-front-img {
    border-radius: 30px;
    overflow: hidden;
    border: 2px solid white;
}

.project__photo-front-img img {    
    display: block;
}

.project__photo-back {
    position: absolute;
    left: calc(-10% + 30px);
    /* top: -5%; */
    margin: 30px;
    transform: scale(-0.8, 0.8) translate(20px, -5%);
}

.project__photo-back-img {
    border-radius: 30px;
    overflow: hidden;
}

.project__photo-back-img img {
    display: block;
}
.project__photo-text {
    position: absolute;
    bottom: 40px;
    left: 40px;
}

.project__photo-name {
    margin-bottom: 20px;
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 30px;
}

@media (max-width: 1500px) {
}

@media (max-width: 1100px) {
    .project__content {
        font-size: 0.9rem;
    }
}

@media (max-width: 600px) {
    .project__content {
        font-size: 0.8rem;
    }
}