html {
    height: 100%;
}

a {
    color: black;
}

a:hover {
    color: red;
}

h2 {
    text-align: center;
}

.button {
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
}

.button:hover {
    border: 2px solid red;
}


a {
    color: black;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Neucha', cursive;
    position: relative;
    width: 1000px;
    margin: auto;
    font-size: 20px;
}

.block {
    border: 1px dashed black;
    box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.1);
}

.logo {
    padding: 20px 0 10px 20px;
}

.carousel {
    margin: 20px;
    padding: 20px;
    display: flex;
}

.epic-punchline {
    text-align: center;
    vertical-align: center;
    font-size: 70px;
    padding: 100px 20px 20px 0;
    display: flex-item;
    flex: 2;
}
.carousel-container {
    display: flex;
    flex: 1;
}

.carousel-item {
    width: 150px;
    height: 500px;
    position: relative;
    font-size: 30px;
    overflow: hidden;
    transition: width 0.5s ease-out;
}

.carousel-item a {
    color: white;
}

.carousel-item:hover {
    width: 500px;
}

.text-1, .text-2, .text-3 {
    position: absolute;
    width: 80%;
    color: white;
    bottom: 50px;
    left: 10%;
}

.text-2 {
    width: 40%;
    font-size: 40px;
}

.text-3 {
    color: #000;
    bottom: 220px;
}

.car-donut {
    position: relative;
    width: 500px;
    height: 500px;
    background: orange;
}

.footer {
    margin-top: auto;
    text-align: center;
}

.footer a {
    display: inline-block;
}

.projects {
    position: relative;
    width: 80%;
    left: 10%;
    padding: 30px;
    margin-bottom: 40px;
}

.team {
    margin-bottom: 60px;
}

.teammate {
    position: relative;
    left: 30%;
    width: 35%;
    display: grid;
    grid-template-columns: 150px auto;
    margin-bottom: 40px;
}

.teammate:nth-child(even) {
    left: 40%;
}

.teammate-photo {
    grid-row: 1 / span 2;
    width: 100px;
}

.teammate-photo img {
    width: 100%;
}

.teammate-name {
    grid-column: 2;
    grid-row: 1;
}

.teammate-text {
    grid-column: 2;
    grid-row: 2;
}

.header {
    z-index: 100;
    display: flex;
}

nav {
    display: flex;
    margin-left: auto;
    align-items: center;
    margin-right: 20px;
}

.nav-item {
    position: relative;
    margin-right: 20px;
}

.nav-item a:hover {
    color: red;
    cursor: pointer;
}

.about-us {
    position: absolute;
    top: 2rem;
    left: 0;
    display: none;
    padding: 20px;
}

.about-us.is-active {
    display: block;
    background: #fff;
}

.text-3 a {
    color: black;
}

.text-3 a:hover {
    color: red;
}

/* from signintoproj.html */
.form {
    position: relative;
    width: 60%;
    margin: 0 auto;
    display: grid;
    padding: 40px;
    column-gap: 40px;
    row-gap: 0px;
    margin-bottom: 10px;
    /* grid-template-columns: auto auto;  new */
}

.pay-container {
    padding: 40px 20% 0 20%;
}

.element {
    margin-bottom: 15px;
    margin-top: 5px;
    width: 270px;
}