{% extends "admin/change_form.html" %}
{% load i18n %}
{% load static %}
{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'projects/css/common.css' %}">
<link rel="stylesheet" href="{% static 'projects/css/main-top.css' %}">
{% endblock %}
{% block field_sets %}
{% if language_tabs %}{% include "admin/parler/language_tabs.html" %}{% endif %}
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}
<div class="carousel-images__card is-active" onmouseenter="cardHovered(event)">
                    <div class="carousel-images__card-contentwrapper">
                        <div class="carousel-images__tg tg">
                            <div class="tg__icon"><img src="{% static 'projects/img/tg.svg' %}" alt=""></div>
                            <div class="tg__text">@telegram_krona</div>
                        </div>
                        <div class="carousel-images__img">
                            <div>
                                <img src="img/p-2.jpg" alt="">
                            </div>
                            <div class="carousel-images__text">
                                <h3>Наша задача</h3>
                                <div class="collapsed-h3">АНО «Крона»</div>
                                <p>Мы объединяем людей и помогаем в реализации их инициатив, затрагиявая социально значимые вопросы, используя методы игрофикации и развлекательный контент</p>
                            </div>
                        </div>
                    </div>
                </div>
<div class="carousel-images__card" onmouseenter="cardHovered(event)">
                    <div class="carousel-images__card-contentwrapper">
                        <div class="carousel-images__tg tg">
                            <div class="tg__icon"><img src="{% static 'projects/img/tg.svg' %}" alt=""></div>
                            <div class="tg__text">@telegram_krona</div>
                        </div>
                        <div class="carousel-images__img">
                            <div>
                                <img src="img/p-2.jpg" alt="">
                            </div>
                            <div class="carousel-images__text">
                                <h3>Наша задача</h3>
                                <div class="collapsed-h3">АНО «Крона»</div>
                                <p>Мы объединяем людей и помогаем в реализации их инициатив, затрагиявая социально значимые вопросы, используя методы игрофикации и развлекательный контент</p>
                            </div>
                        </div>
                    </div>
                </div>
<script>
setInterval(() => {
    let displayName = document.querySelector('input[name="display_name"]')
    document.querySelectorAll('.carousel-images__text h3').forEach(x => x.innerHTML = displayName.value)
    let content = document.querySelector('.cke_editable')
    document.querySelectorAll('.carousel-images__text p').forEach(x => x.innerHTML = content.innerHTML)
    let collapsed_content = document.querySelector('input[name="collapsed_content"]')
    document.querySelectorAll('.collapsed-h3').forEach(x => x.innerHTML = collapsed_content.value)

    let back_image = document.querySelector('input[name="background_image"]')
    if (back_image.files && back_image.files[0]) {
        var reader = new FileReader();
        document.querySelector('.carousel-images__img img').src = URL.createObjectURL(back_image.files[0])
    }
}, 100)
</script>
{% endblock %}