<!DOCTYPE html>
{% url 'main_page' as main_page %}
{% url 'documents' as documents %}
{% url 'team' as team %}
{% url 'projects' as projects %}
{% url 'donate'  as donate %}

{% load static %}
{% load i18n %}
{% load language_selector %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'projects/img/logo_mini.svg' %}" type="image/png"/>
    <link rel="stylesheet" href="{% static 'projects/css/common.css' %}">
    <link rel="stylesheet" href="{% static 'projects/css/main-top.css' %}">
    <link rel="stylesheet" href="{% static 'projects/css/main-about-us.css' %}">
    <link rel="stylesheet" href="{% static 'projects/css/main-projects.css' %}">
    <link rel="stylesheet" href="{% static 'projects/css/main-team.css' %}">
    <link rel="stylesheet" href="{% static 'projects/css/main-support.css' %}">
    <link rel="stylesheet" href="{% static 'projects/css/main-contacts.css' %}">
    {% block title %}
    <title>{{ title }}</title>
    {% endblock title %}
</head>
<body>
{% block mainmenu %}

<header class="header">
    <div class="container">

        <div class="icon">
            <img src="{% static 'projects/img/logo.svg' %}">
        </div>
        <nav class="nav">
            <ul>
                <li class="{% if request.path == main_page %} is-active {%endif%}"><a href="{{main_page}}">{% translate "Главная" %}</a></li>
                <li class="{% if request.path == documents %} is-active {%endif%}"><a href="{{documents}}">{% translate "Документы" %}</a></li>
                <li class="{% if request.path == team %} is-active {%endif%}"><a href="{{team}}">{% translate "Команда" %}</a></li>
                <li class="{% if request.path == projects %} is-active {%endif%}"><a href="{{projects}}">{% translate "Проекты" %}</a></li>
                <li class="{% if request.path == donate %} is-active {%endif%}"><a href="{{donate}}">{% translate "Поддержать" %}</a></li>
            </ul>
        </nav>
        <div class="nav-burger-button" onclick="openBurger()">
            <div class="nav-burger-button__icon"></div>
        </div>
        <div class="en-ru">
            <div class="en-ru__var en-ru__en">EN</div>
            <div class="en-ru__var en-ru__ru is-active">RU</div>
        </div>
    </div>

    <div class="nav-burger-menu">
        <div class="container">
            <div class="nav-burger-menu__icon">
                <img src="{% static 'projects/img/logo_dark_theme.svg' %}">
            </div>
            <ul class="nav-burger-menu__menu">
                <li class="{% if request.path == main_page %} is-active {%endif%}"><a href="{{main_page}}">{% translate "Главная" %}</a></li>
                <li class="{% if request.path == documents %} is-active {%endif%}"><a href="{{documents}}">{% translate "Документы" %}</a></li>
                <li class="{% if request.path == team %} is-active {%endif%}"><a href="{{team}}">{% translate "Команда" %}</a></li>
                <li class="{% if request.path == projects %} is-active {%endif%}"><a href="{{projects}}">{% translate "Проекты" %}</a></li>
                <li class="{% if request.path == donate %} is-active {%endif%}"><a href="{{donate}}">{% translate "Поддержать" %}</a></li>
            </ul>
            <div class="nav-burger-menu__close">
                <div class="nav-burger-menu__close-icon" onclick="closeBurger()"></div>
            </div>
            <div class="nav-burger-menu__en-ru">
                <div class="en-ru__var en-ru__en">EN</div>
                <div class="en-ru__var en-ru__ru is-active">RU</div>
            </div>
            <!--            <form action="{% url 'set_language' %}" method="post" id="form_{{ LANGUAGE_CODE|new_lang_code }}">-->
            <!--                {% csrf_token %}-->
            <!--                <input name="next" type="hidden" value="{{ redirect_to }}"/>-->
            <!--                <input name="language" type="hidden" value="{{ LANGUAGE_CODE|new_lang_code }}"/>-->
            <!--            </form>-->
            <!--            <button class="nav-button" type="submit" form="form_{{ LANGUAGE_CODE|new_lang_code }}"-->
            <!--                    value="Submit">EN/RU-->
            <!--            </button>-->
        </div>
    </div>
</header>

{% endblock mainmenu %}
{% block content %}
{% endblock content%}

<footer class="footer">
    <div class="container">

        <div class="icon">
            <img src="{% static 'projects/img/logo.svg' %}" alt="ох епта как так">
        </div>
        <div class="nav">
            <ul>
                <li class="{% if request.path == main_page %} is-active {%endif%}"><a href="{{main_page}}">{% translate "Главная" %}</a></li>
                <li class="{% if request.path == documents %} is-active {%endif%}"><a href="{{documents}}">{% translate "Документы" %}</a></li>
                <li class="{% if request.path == team %} is-active {%endif%}"><a href="{{team}}">{% translate "Команда" %}</a></li>
                <li class="{% if request.path == projects %} is-active {%endif%}"><a href="{{projects}}">{% translate "Проекты" %}</a></li>
                <li class="{% if request.path == donate %} is-active {%endif%}"><a href="{{donate}}">{% translate "Поддержать" %}</a></li>
            </ul>
        </div>
        <div class="footer__contacts">
            +7&nbsp;(343)&nbsp;382-45-99<br>
            npokrona@gmail.com
        </div>
    </div>
</footer>

<script src="{% static 'projects/js/main.js' %}"></script>

</body>
</html>
