{% extends 'projects/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<br><br>

<h2>{{ event.name }}</h2>
<form class="form block" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}


    {% for f in form %}
    {% if not f.errors %}
    <div>{{ f.label_tag }}<br>{{ f }}</div>
    {% else %}
    <div>{{ f.errors }}{{ f }}</div>
    {% endif %}
    {% endfor %}
    <div class="form-error">{{ form.non_field_errors }}</div>

    <div class="pay-container" style="grid-column:1 / span 2; grid-row: 7 / 7;">
        <div class="contrib-size">{% translate "Взнос за участие:" %} {{ event.price }}</div>
        <br>
        <div class="pay button"><input type="submit" value='{% translate "Оплатить" %}'></div>
        <!--                    <a href="payment.html">-->
        <!--                        <div class="pay button">{% translate "Оплатить" %}</div>-->
        <!--                    </a>-->
    </div>
</form>

{% endblock content %}