{% extends 'projects/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<style>
    img {
        max-width: 100vw; 
    }
    .project {
        box-sizing: border-box;
        width: 100%;
        padding: 3rem;
        display:flex; 
        flex-direction:column; 
        align-items:center
    }
</style>
<br>
<div class="project">
    <h2>{{ project.name }}</h2>

    <p>{% translate "Дата проведения мероприятия:" %}</p>
    <p>{{ project.date }}</p>
    <br>
    
    {% if project.is_it_time_to_reveal_howto and not project.is_over %}
        <br>
        <p style="width: 40%">{{ project.howto | safe }}</p>
        <br>
        <div class="qr-code">
            <img src="{{ guest.qr.url }}" alt="">
        </div>
    {% elif project.is_over %}
        <div style="font-size:20px; text-align: center;">
            <p>{% translate "Сожалеем, но этот проект уже завершён, приходите на следующее мероприятие!" %}</p>
        </div>
    {% else %}
        <div style="font-size:20px; text-align:center; background: #feda4d;padding: 40px;border-radius: 30px;">
            <p>{% translate "Скоро откроется информация о том как добраться!"%}</p>
            <p>{% translate "Откроется через"%} {{ project.time_before_reveal }}</p>
        </div>
    {% endif %}
    <br>
    <a href="{% url 'main_page' %}" style="text-align: center;display:block">{% translate "На главную!" %}</a>
<br><br>
<a href="{% url 'service_page' project_slug=project.slug ticket_uid=guest.ticket_uid %}" style="text-align: center;display:block">{% translate "Обслуживание" %}</a>
</div>
<br>
{% endblock content %}
