{% extends 'projects/base.html' %}
{% load static %}
{% load i18n %}
{% load language_selector %}
{% get_current_language as LANGUAGE_CODE %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'projects/css/main-top.css' %}">
    <link rel="stylesheet" href="{% static 'projects/css/main-about-us.css' %}">
    <link rel="stylesheet" href="{% static 'projects/css/main-projects.css' %}">
    <link rel="stylesheet" href="{% static 'projects/css/main-team.css' %}">
    <link rel="stylesheet" href="{% static 'projects/css/main-support.css' %}">
    <link rel="stylesheet" href="{% static 'projects/css/main-contacts.css' %}">
{% endblock extrastyle %}

{% block content %}

    <div class="carousel" data-count="3">
        <div class="container">
            <div class="punchline">
                <div class="punchline-wrapper">
                    <div class="punchline__main"><h2>{% translate "Мы объединяем людей" %}</h2></div>
                    <div class="punchline__sub">{% translate "организуем культурные, развлекательные и иные массовые мероприятия, направленные на достижение цели АНО “Крона”" %}</div>
                    <div class="punchline__button button"><a href="{% url 'projects' %}">{% translate "Узнать больше" %}</a></div>
                </div>
            </div>
            <div class="carousel-images">
                {% for c in carousel %}
                    {% if c.position %}
                        {% if c.position == 1 %}
                            <div class="carousel-images__card is-active" onmouseenter="cardHovered(event)">
                                <div class="carousel-images__card-contentwrapper">
                                    <div class="carousel-images__tg tg">
                                        <div class="tg__icon"><img src="{% static 'projects/img/tg.svg' %}" alt=""></div>
                                        <div class="tg__text">@telegram_krona</div>
                                    </div>
                                    <div class="carousel-images__img">
                                        <div>
                                            <img src="{{ c.background_image.url }}" alt="">
                                        </div>
                                        <div class="carousel-images__text">
                                            <h3>{{ c.display_name }}</h3>
                                            <div class="collapsed-h3">{{ c.collapsed_content }}</div>
                                            <p>{{ c.content|safe }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                    <div class="carousel-images__card" onmouseenter="cardHovered(event)">
                        <div class="carousel-images__card-contentwrapper">
                            <div class="carousel-images__tg tg">
                                <div class="tg__icon"><img src="{% static 'projects/img/tg.svg' %}" alt=""></div>
                                <div class="tg__text">@telegram_krona</div>
                            </div>
                            <div class="carousel-images__img">
                                <div>
                                    <img src="{{ c.background_image.url }}" alt="">
                                </div>
                                <div class="carousel-images__text">
                                    <h3>{{ c.display_name }}</h3>
                                    <div class="collapsed-h3">{{ c.collapsed_content }}</div>
                                    <p><a class="button dark">{{ c.content|safe }}</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% endfor %}
<!--                <div class="carousel-images__card" onmouseenter="cardHovered(event)">-->
<!--                    <div class="carousel-images__card-contentwrapper">-->
<!--                        <div class="carousel-images__tg tg">-->
<!--                            <div class="tg__icon"><img src="{% static 'projects/img/tg.svg' %}" alt=""></div>-->
<!--                            <div class="tg__text">@telegram_krona</div>-->
<!--                        </div>-->
<!--                        <div class="carousel-images__img">-->
<!--                            <div>-->
<!--                                <img src="{% static 'projects/img/p-2.jpg' %}" alt="">-->
<!--                            </div>-->
<!--                            <div class="carousel-images__text">      -->
<!--                                <h3>Проект <br> «Хэллоуин»</h3>-->
<!--                                <div class="collapsed-h3">Проект <br> «Хэллоуин»</div>-->
<!--                                <p><a class="button dark">Узнать больше</a></p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </div>

    <div class="about-us-scrollwrapper">
    <div class="about-us">

        <div class="container">

            <h2>О нас</h2>
            <p class="about-us__subtitle">{% translate "Мы - автономная некоммерческая организация внедрения нетиповых решений в социальной сфере." %}</p>
            <div class="about-us__cards">
                {% for a in about_us %}
                <div class="about-us__card-wrapper">
                    <div class="about-us__card" data-index="{{ forloop.counter }}">
                        <h3>{{ a.name }}</h3>
                        <p>{{ a.text|safe }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>

    </div>
    </div>

    {% if projects_for_main %}
    <div class="projects">

        <div class="container">
            <h2>{% translate "Наши проекты" %}</h2>
            <div class="projects-wrapper">
                    {% for p in projects_for_main %}
                <div class="projects__descriptions">
                    <div class="projects__description">
                        <h3>{% blocktranslate with name=p.name %} Проект "{{ name }}" {% endblocktranslate %}</h3>
                        <p class="projects__description-text">{{ p.content_brief|safe }}</p>
                        <a class="projects__go-to-project button dark" href="{{ p.get_absolute_url }}">{% translate "Узнать больше" %}</a>
                    </div>
                </div>
                    {% endfor %}
            {% if project_w_photo %}
                <div class="projects__suggestion">
                    <div class="projects__suggestion-back">
                        <div class="projects__suggestion-back-img">
                            <img src="{{ project_w_photo.photo.url }}" alt="">
                        </div>
                    </div>
                    <div class="projects__suggestion-front">
                        <div class="projects__suggestion-front-img">
                            <img src="{{ project_w_photo.photo.url }}" alt="">
                        </div>
                        <div class="card-gradient"></div>
                        <div class="projects__suggestion-text">
                            <div class="projects__suggestion-name">{{ project_w_photo.name }}</div>
                            <div class="projects__suggestion-go-to button dark"><a href="{{ project_w_photo.get_absolute_url }}">{% translate "Хочу участвовать" %}</a></div>
                        </div>
                    </div>
                </div>
            {% endif %}
            </div>
        </div>

    </div>
    {% endif %}

    <div class="team">    

        <div class="container">
            <h2>{% translate "Наша команда" %}</h2>

            <div class="team__teammates">
                {% for t in teammates %}
                <div class="team__teammate teammate">
                    <div class="teammate__img"><img src="{{ t.avatar.url }}" alt=""></div>
                    <div class="card-gradient"></div>
                    <div class="teammate__text">
                        <div class="teammate__name">{{ t.name }}</div>
                        <div class="teammate__description">{{ t.description }}</div>
                    </div>
                    <div class="teammate__tg tg">
                        <div class="tg__icon"><img src="{% static 'projects/img/tg.svg' %}" alt=""></div>
                        <div class="tg__text">{{ t.telegram }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <a class="projects__go-to-project button dark" href="{% url 'team' %}">{% translate "Посмотреть команду" %}</a>
        </div>

    </div>

    <div class="support">
        <div class="container">
            <h2>{% translate "Поддержка" %}</h2>
            <div class="support__text">
                <p>{% translate "Наша организация не является коммерческой, поэтому вы можете материально поддержать нас, чтобы у нас была возможность продолжать организовывать мероприятия и помогать людям" %}</p>
                <p>{% translate "Мы будем рады любой помощи" %}</p>
                <div class="button light">{% translate "Поддержать" %}</div>
            </div>
            <div class="support__img">
                <div class="support__img-front"><img src="{% static 'projects/img/photo_sup.jpg' %}" alt=""></div>
                <div class="support__img-back"><img src="{% static 'projects/img/photo_sup.jpg' %}" alt=""></div>
            </div>
        </div>
    </div>

    <div class="contacts">
        <div class="container">
            <h2>{% translate "Контакты" %}</h2>
            <p class="contacts__description">{% translate "Автономная некоммерческая организация внедрения экстраординарных решений в социальной сфере «Крона»" %}</p>
            <div class="contacts__columns">
                <div class="contacts__item contacts__location">
                    <div class="contacts__location-icon contacts__icon"></div>
                    <div class="contacts__location-text">{% translate "Свердловская область, г. Екатеринбург," %} <br>{% translate "ул. Резервная, д. 1" %}</div>
                </div>
                <div class="contacts__item contacts__phone">
                    <div class="contacts__phone-icon contacts__icon"></div>
                    <div class="contacts__phone-text">{% translate "Телефон: " %}<br>+7&nbsp;(343)&nbsp;382-45-99</div>
                </div>
                <div class="contacts__item contacts__mail">
                    <div class="contacts__mail-icon contacts__icon"></div>
                    <div class="contacts__mail-text">{% translate "Эл. почта:" %}<br>npokrona@gmail.com</div>
                </div>
                <div class="contacts__item contacts__tg">
                    <div class="contacts__tg-icon contacts__icon"></div>
                    <div class="contacts__tg-text">@telegram_krona</div>                    
                </div>
            </div>
        </div>
    </div>
<script src="{% static 'projects/js/main.js' %}"></script>
{% endblock content %}
