{% extends 'projects/base.html' %}
{% load static %}
{% load i18n %}
{% load language_selector %}
{% get_current_language as LANGUAGE_CODE %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'projects/css/participate.css' %}">
{% endblock extrastyle %}

{% block content %}

    <div class="participate">    
        <div class="container">

            <div class="participate__title">
                <h2>{{ event.name }}</h2>
                <div class="participate__date {% if event.is_over or not event.has_vacant %} is-old {%endif%}">
                    <div class="participate__date-text">
                        {{ event.date.date }}</div>
                </div>
                <div class="participate__state">{% translate "Для участия в проекте заполните форму" %}</div>
            </div>
            
            <div class="participate-wrapper">
                <form class="participate__form-column participate__form" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-error" style="flex: 100% 0 0">{{ form.non_field_errors }}</div>

                    {% for f in form %}
                        {% if not f.errors %}
                            <div class="participate__form-item form-item">
                                <div class="form-item__label">{{ f.label_tag }}</div>
                                <div class="form-item__input">{{ f }}</div>
                            </div>
                        {% else %}
                                <div class="form-item__label">{{ f.errors }}</div>
                                <div class="form-item__input">{{ f }}</div>
                        {% endif %}
                    {% endfor %}
                    <div class="participate__form-cost">
                        {% translate "Взнос за участие:" %} {{ event.price }}
                    </div>
                        <input class="participate__submit button dark" type="submit" value='{% translate "Оплатить" %}'>
                </form>

                <div class="participate__photo-column">
                    <div class="project__photo">
                        <div class="project__photo-back">
                            <div class="project__photo-back-img">
                                <img src="{% static 'projects/img/photo_main.jpg' %}" alt="">
                            </div>
                        </div>
                        <div class="project__photo-front">
                            <div class="project__photo-front-img">
                                <img src="{% static 'projects/img/photo_main.jpg' %}" alt="">
                            </div>
                            <div class="card-gradient"></div>
                            <div class="project__photo-text">
                                <div class="project__photo-name">{{ event }}</div>
                            </div>
                        </div>
                    </div>
                </div>   

            </div>

        </div>
    </div>
{% endblock content %}