{% extends 'projects/base.html' %}
{% load static %}
{% load i18n %}
{% load language_selector %}
{% get_current_language as LANGUAGE_CODE %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'projects/css/success.css' %}">
{% endblock extrastyle %}

{% block content %}

<style>
    .instr {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid gray; 
        border-radius: 30px;padding: 40px;
    }
    #qr-title {
        display: none;
    }
    @media print {
        body * {
            display: none;
        }
        .success {
            display: block;
        }
        .success * {
            display: none;
        }
        .success .container {
            width: 100%;
            left: 0;
            display: block;
        }
        .success .container * {
            display: none;
        }
        #qr-title {
            display: block;
        }
        #qr {
            display: block
        }
    }
</style>

{% if guest %}
    <div class="success">    
            <div class="container"><div class="success__heart">
                <img src="{% static 'projects/img/heart.svg' %}" alt="" class="heart">
                <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-1">
                <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-2">
                <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-3">
                <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-4">
                <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-5">
                <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-6">
                <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-7">
                <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-8">
                <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-9">
            </div>
            <h2>{% translate "Оплата прошла успешно" %}</h2>

            <div class="instr" >
                {% translate "По ссылке находится QR-код билета и инструкция о том как добраться." %}
                <br>  
                <br>  
                {% translate "Сохраните ссылку. QR-код надо будет показать при входе на мероприятие." %}
                <br>  
                <br>  
                <br>  
                <input type="text" value="{{ qr_link }}" style="padding:20px; border-radius:10px; border: 1px solid gray; width:80%">
            </div> 

            <br>  
            <br> 

            <div style="width:25%;text-align:center;">Также вы можете сохранить на компьютер или распечатать QR-код билета с помощью кнопок ниже</div>

            <br> 

            <h3 id="qr-title">{{ guest.project.name }}</h3>

            <img id="qr" src="{{ guest.qr.url }}" alt="">

            <br>  
            <a href="javascript:if(window.print)window.print()" style="border:1px solid gray; border-radius:30px;padding: 10px 40px;">Распечатать</a>
            <br>  
            <a href="{{ guest.download_qr_image }}" style="border:1px solid gray; border-radius:30px;padding: 10px 40px;">Скачать</a>
            
            <br>  
            <br> 
            <br> 

            <a href="{{ main_page }}"><div class="success__back">{% translate "Вернуться на главную" %}</div></a>
        
            <br> 
            <br> 
            <br> 
            <br> 

        </div>
    </div>
{% else %}
<div class="success" style="padding:100px;">    
    <div style="font-size:20px;text-align:center;">
        <div class="success__heart">
            <img src="{% static 'projects/img/heart.svg' %}" alt="" class="heart" onmouseenter="pet=true" onmouseleave="pet=false" onclick="splash()">
            <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-1">
            <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-2">
            <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-3">
            <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-4">
            <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-5">
            <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-6">
            <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-7">
            <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-8">
            <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-9">
            <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-10">
            <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-11">
            <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-12">
            <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-13">
            <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-14">
            <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-15">
            <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-16">
            <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-17">
            <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-18">
            <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-19">
            <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-20">
            <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-21">
            <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-22">
            <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-23">
            <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-24">
            <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-25">
            <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-26">
            <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-27">
            <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-28">
            <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-29">
            <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-30">
            <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-31">
            <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-32">
            <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-33">
            <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-34">
            <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-35">
            <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-36">
            <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-37">
            <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-38">
            <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-39">
            <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-40">
            <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-41">
            <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-42">
            <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-43">
            <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-44">
            <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-45">
            <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-46">
            <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-47">
            <img src="{% static 'projects/img/heart animation.svg' %}" alt="" class="h h-48">
        </div>
        <p>{% translate "Спасибо за Ваше щедрое пожертвование! 🙂" %}</p>
    </div>
</div>
{% endif %}

{% block javascript %}
{{ block.super }}
    <script> 
        let index = 0

        {% if guest %}
            let maxIndex = 10
        {% else %}
            let maxIndex = 48
        {% endif %}

        let animations = {}
        let pet = false

        function saveQrToLocalStorage() {
            {% if guest %}
                localStorage.setItem(`NPOKRONE-QR-for-project-${ '{{ guest.project.name }}' }`, '{{ qr_link }}');
            {% endif %}
        }

        window.addEventListener('load', () => {

            saveQrToLocalStorage();

            setInterval(() => {
                if (!pet) {
                    bump()
                }
            }, 3000)
            setInterval(() => {
                if (pet) {
                    bump()
                }
            }, 1500)
            setInterval(() => {
                if (pet) {
                    radiate()
                }
            }, 300)
        })

        async function bump() {
            shine()
            document.querySelector('.success__heart').classList.add('bumped');
            await sleep(200)
            document.querySelector('.success__heart').classList.remove('bumped');
            await sleep(500)
            shine()
            document.querySelector('.success__heart').classList.add('bumped');
            await sleep(200)
            document.querySelector('.success__heart').classList.remove('bumped');
            await sleep(200)
        }

        async function shine() {
            createAnimation(index, [0.2, 0], [0.6, 3], [0, 0], [0, 0], [0, random(-10, 10)], 2)
            index = (index + 1) % (maxIndex + 1)
        }

        async function radiate() {
            createAnimation(index, [0.8, 0], [0.6, 2], [0, 0], [0, 0], [0, 0], 2)
            index = (index + 1) % (maxIndex + 1)
        }

        async function splash() {
            document.querySelector('.heart').classList.add('splashed');
            await sleep(100)
            document.querySelector('.heart').classList.remove('splashed');

            for (let i=0; i<15; i++) {
                createAnimation(index, [1, 0.8], [0.3, 0.3], [0, random(-200, 200)], [0, random(-200, 200)], [random(-30, 30), random(-30, 30)], random(3, 6))
                await sleep(100)
                index = (index + 1) % (maxIndex + 1)
            }
        }

        async function createAnimation(index, opacity, scale, xPos, yPos, rotation, time) {
            if (animations[index]) {
                return;
            }
            animations[index] = document.querySelector(`.h-${index}`);
            /*if (scale[0] < 0.5) {
                animations[index].setAttribute('src', '/static/projects/img/heart animation thick.svg')
            } else {
                animations[index].setAttribute('src', '/static/projects/img/heart animation.svg')
            }*/
            let a = animations[index];
            a.style.transition = 'none'
            a.style.opacity = opacity[0]
            a.style.transform = `translate(${-50 + xPos[0]}%, ${-50 + yPos[0]}%) scale(${scale[0]}) rotate(${rotation[0]}deg)`
            flushCss(a);
            a.style.transition = `${time}s all ease-out`
            a.style.opacity = opacity[1]
            a.style.transform = `translate(${-50 + xPos[1]}%, ${-50 + yPos[1]}%) scale(${scale[1]}) rotate(${rotation[1]}deg)`
            setTimeout(() => freeAnimation(index), time)
        }

        function freeAnimation(index) {
            animations[index] = null
            document.querySelector(`.h-${index}`).style.opacity = '0';
        }

        async function sleep(ms) {
            return new Promise((resolve) => setTimeout(resolve, ms))
        }

        function flushCss(element) {
            // By reading the offsetHeight property, we are forcing
            // the browser to flush the pending CSS changes (which it
            // does to ensure the value obtained is accurate).
            element.offsetHeight;
        }

        function random(from, to) {
            return from + Math.random() * (to - from);
        }
    </script>
{% endblock javascript %}
{% endblock content %}