{% extends 'projects/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<br><br>
{% if guest %}
<div style="font-size:50px; text-align: center; padding: 20px; margin:50px 50px 0px; font-family: 'Neucha', cursive;">{% translate "Останьтесь на пару секунд!" %}
</div>
<div style="font-size:20px; text-align: center;">
    <p>{% translate "Оплата прошла успешно и в качестве доказательства взноса на входе нужно будет предоставить этот qr-код" %}</p>
    <p>{% blocktranslate with email=guest.email%} Мы уже отправили его к вам на {{ email }}, но на всякий случай вы можете его
        сфотографировать, скачать или распечатать {% endblocktranslate %}</p>
</div>
<div class="qr-code">
    <img id="qr" src="{{ guest.qr.url }}" alt="">
</div>
<br>
<a href="{{ guest.download_qr_image }}">
<div class="button" style="width: 100px">{% translate "Скачать" %}</div>
</a>
<br>
<div class="button" onclick="printQr()"  style="width: 100px">{% translate "Распечатать" %}</div>
<br>
<a href="{% url 'main_page' %}" style="text-align: center;display:block">{% translate "На главную!" %}</a>
<script>
    var printQr = function () {
        var qr = document.getElementById('qr');
        var win = window.open('', '', 'height=200, width=200');
        win.document.write(qr.outerHTML);
        win.document.close();
        win.print();
    }
</script>
{% else %}
<div style="font-size:20px; text-align: center;">
    <p>{% translate "Спасибо за Ваше щедрое пожертвование!" %}</p>
</div>
{% endif %}
{% endblock content %}