{% extends 'projects/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <br>
    <div class="project block">
        <h2>{{ project.name }}</h2>
        <img src="{% static 'projects/images/proj-photo.jpg' %}" alt="">
        <p>{{ project.content|safe }}</p>
        <img src="{% static 'projects/images/proj-photo.jpg' %}" alt="">
        {% if not project.is_over and project.has_vacant %}
        <div style="clear: both" ></div>
        <a href="{% url 'register' project_slug=project.slug %}"><div class="imin button">{% translate "Участвовать!"%}</div></a>
        {% endif %}
    </div>

    <br>

{% endblock content %}
