{% extends 'projects/base.html' %}
{% load static %}
{% block content %}
<br><br>

<div class="projects block">
    <h2 style="text-align:center">Мы организуем проекты</h2>
    <div class="proj">
        <div class="proj-name"><h4>Проект под открытым небом "Лес в лесу"</h4></div>
        <div class="proj-text">классический текст-«рыба» (условный, зачастую бессмысленный текст-заполнитель,
            вставляемый в макет страницы). Является искажённым отрывком из философского трактата Марка Туллия Цицерона
            «О пределах добра и зла[en]», написанного в 45 году до н. э. на латинском языке, обнаружение сходства
            приписывается Ричарду МакКлинтоку[1]. Распространился в 1970-х годах из-за трафаретов компании Letraset, a
            затем — из-за того, что служил примером текста в программе PageMaker. Испорченный текст, вероятно,
            происходит от его издания в Loeb Classical Library 1914 года, в котором слово dolorem разбито переносом так,
            что страница 36 начинается с lorem ipsum… (do- осталось на предыдущей)[2].
        </div>
        <div style="text-align:center; margin: 30px auto; width: 300px" class="button"><a href="project-1.html"><strong>Подробнее!</strong></a>
        </div>
        <div class="project-date">Дата проведения: 12-12-2022</div>
        <div class="project-status green"><a href="project-1.html" class="green" style="text-decoration: none;">Ещё есть
            свободные места</a></div>
    </div>
    <hr>
    <div class="proj">
        <div class="proj-name"><h4>Благотворительный проект "Мне западло придумать название"</h4></div>
        <div class="proj-text">Труднее удовлетворительно ответить тем, кто заявляет о своем презрении к латинским
            сочинениям. И здесь я прежде всего удивляюсь тому, почему родной язык не удовлетворяет их в столь важных
            предметах4, тогда как сами же они весьма охотно читают латинские пьесы, дословно воспроизводящие греческие5.
            Действительно, неужели найдется кто-нибудь, кто так бы ненавидел чуть ли не самое имя римское, что с
            пренебрежением отверг бы «Медею» Энния или «Антиопу» Пакувия из-за того, что ему де нравятся эти же трагедии
            Еврипида, а латинскую литературу он терпеть не может? «Так что же, — скажет он, — я должен читать “Друзей”
            Цецилия или “Андриянку” Теренция вместо того, чтобы прочитать те же комедии самого Менандра?»
        </div>
        <div style="text-align:center; margin: 30px auto; width: 300px" class="button"><a href="project-2.html"><strong>Подробнее!</strong></a>
        </div>
        <div class="project-date">Дата проведения: 12-01-2023</div>
        <div class="project-status red">Свободных мест нет.
            <div style="font-size:0.8em">Не отчаивайся! Скоро будут новые проекты</div>
        </div>
    </div>
    <hr>
    <div class="proj">
        <div class="proj-name"><h4>Благотворительная акция "Добро с кулаками"</h4></div>
        <div class="proj-text">Я прекрасно понимал, Брут, что мои усилия изложить на латинском языке то, о чем с таким
            талантом и с такой ученостью писали греческие философы, встретят неодобрение с разных сторон1. Ведь иные,
            даже весьма образованные люди, вообще с подозрением относятся к самому занятию философией. Иные же, не
            осуждая его в умеренных пределах, полагают ненужным тратить на это слишком много времени и усилий. Будут и
            такие, из числа любителей греческой словесности, презирающих словесность латинскую, кто скажет, что
            предпочитают тратить свои силы скорее на чтение греческих авторов. Наконец, я подозреваю, что явятся и
            такие, кто станет призывать меня заниматься и другими видами словесности, утверждая, что этот литературный
            жанр, при всей его изысканности, не отвечает ни моей индивидуальности, ни моему положению.
        </div>
        <div style="text-align:center; margin: 30px auto; width: 300px" class="button"><a href="project-3.html"><strong>Подробнее!</strong></a>
        </div>
        <div class="project-date">Дата проведения: 12-07-2021</div>
        <div class="project-status">Акция уже прошла</div>
    </div>
    <hr>
</div>
{% endblock content %}