{% extends 'projects/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <br>
    <div class="project block">
        <h2>{{ project.name }}</h2>
        <img src="img/proj-photo.jpg" alt="">
        <p>{{ project.content }}</p>
        <img src="img/proj-photo.jpg" alt="">
        {% if project.is_coming and project.vacant_places %}
        <div style="clear: both" ></div>
        <a href="{% url 'register' project_slug=project.slug %}"><div class="imin button">{% translate 'Участвовать!'%}</div></a>
        {% endif %}
    </div>

    <br>

{% endblock content %}
