{% extends 'projects/base.html' %}
{% load static %}
{% load i18n %}
{% load language_selector %}
{% get_current_language as LANGUAGE_CODE %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'projects/css/project.css' %}">
{% endblock extrastyle %}

{% block content %}

    <div class="project" style="opacity:0.01">    
        <div class="container">

            <div class="project__title">
                <h2>{{ project.name }}</h2>
                <div class="project__date {% if project.is_over or not project.has_vacant %} is-old {%endif%}">
                    <div class="project__date-text">{{ project.date.date }}</div>
                </div>

                {% if not project.is_over and project.has_vacant %}
                        <div class="project__state">{% translate "Еще есть свободные места" %}</div>
            </div>

                    <div class="project__content">
                        {{ project.content|safe }}
                    </div>

                    <div style="clear:both"></div>

                    <a href="{% url 'participate' project_slug=project.slug %}"><div class="button dark">{% translate "Хочу участвовать" %}</div></a>
                {% else %}
            </div>

                    <div class="project__content">
                        {{ project.content|safe }}
                    </div>
                {% endif %}
        </div>
    </div>

    <script>
        window.addEventListener('load', () => {
            let html = document.querySelector('.project__content').innerHTML
            document.querySelector('.project__content').innerHTML = html
                .replace(/<img.*?>/g, (match) => `<div class="project__photo">
                        <div class="project__photo-back">
                            <div class="project__photo-back-img">
                                ${match}
                            </div>
                        </div>
                        <div class="project__photo-front">
                            <div class="project__photo-front-img">
                                ${match}
                            </div>
                        </div>
                    </div>`)

            Array.from(document.querySelectorAll('.project__content img')).forEach(
                x => {
                    let width = x.style.width
                    let style = x.getAttribute('style')
                    if (style) {
                        x.closest('.project__photo').setAttribute('style', style)
                        x.setAttribute('style', null)
                        x.style.width = '100%'
                    }
                })
            document.querySelector('.project').style.opacity = '1';
        })
    </script>

{% endblock content %}