{% extends 'projects/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<style>
    .button:hover {
        border: 2px solid green;
    }
</style>
<br>
<div class="project block">
    <h2>{{ project.name }}</h2>
    {% if not guest.arrived and not project.is_over %}
        <p>{% translate "green back" %}</p>
        <a href="{% url 'set_arrived' ticket_uid=guest.ticket_uid %}">
            <div class="button" style="width: 150px">{% translate "Гость пришёл" %}</div>
        </a>
    {% elif guest.arrived and not project.is_over %}
        <div style="font-size:20px; text-align: center;">
            <p>{% translate "orange back" %}</p>
        </div>
    {% else %}
        <div style="font-size:20px; text-align: center;">
            <p>{% translate "yellow back" %}</p>
        </div>
    {% endif %}
    <br>
    <a href="{% url 'guest_list' project_slug=project.slug %}" style="text-align: center;display:block">{% translate "Список гостей" %}</a>
    <br>
    <a href="{% url 'main_page' %}" style="text-align: center;display:block">{% translate "На главную!" %}</a>
    <!--<br><br>-->
    <!--<a href="{% url 'service_page' project_slug=project.slug ticket_uid=guest.ticket_uid %}" style="text-align: center;display:block">{% translate "Обслуживание" %}</a>-->
</div>
{% endblock content %}
