{% extends 'projects/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

<p>{{ message }}</p>

<style>
    .button:hover {
        border: 2px solid green;
    }
</style>
<br>
<div style="display:flex;flex-direction:column;align-items:center;">
{% if flag %}
    <h2>{{ project.name }}</h2>
    {% if not guest.arrived and not project.is_over %}
        <div style="display:flex;flex-direction:column;align-items:center;">
            <style>body {background:#8de6a8;}</style>
            <h3 style="text-align:center">{% translate "У гостя есть билет! Можно отметить, что гость пришёл!" %}</h3>
            <br>
            <a href="{% url 'set_arrived' ticket_uid=guest.ticket_uid %}" class="button" style="display:inline-block">{% translate "Гость пришёл" %}
            </a>
        </div>
    {% elif guest.arrived and not project.is_over %}
    <div style="display:flex;flex-direction:column;align-items:center;">
        <style>body {background:#dd6826;}</style>
        <h2>❌</h2>
        <h3 style="text-align:center">{% translate "Этот гость уже отмечен как пришедший!" %}</h3>
        <br>
    </div>
    {% else %}
        <div style="display:flex;flex-direction:column;align-items:center;">
            <style>body {background:#feb226;}</style>
            <h2>❌</h2>
            <h3 style="text-align:center">{% translate "Мероприятие уже завершилось!" %}</h3>
            <br>
        </div>
    {% endif %}
    <br>
    <a href="{% url 'guest_list' project_slug=project.slug %}" style="text-align: center; display:block">{% translate "Список гостей" %}</a>
    <br>
    <br>
    <br>
{% else %}
    <div style="display:flex;flex-direction:column;align-items:center;">
        <style>body {background:#ff7b7d;}</style>
        <h2>❌</h2>
        <h3 style="text-align:center">{% translate "Билет недействителен!" %}</h3>
        <br>
    </div>
{% endif %}
        <a href="{% url 'main_page' %}" style="text-align: center;display:block">{% translate "На главную!" %}</a>
</div>
{% endblock content %}
