{% extends 'projects/base.html' %}
{% load static %}
{% block content %}
<br><br>

<div class="team block">
    <h2 style="text-align:center">Основной состав</h2>
    <div class="teammate">
        <div class="teammate-photo"><img src="img/team-1.png"></div>
        <div class="teammate-name"><h4>Дмитрий Платонов</h4></div>
        <div class="teammate-text">Организатор, лидер</div>
    </div>
    <div class="teammate">
        <div class="teammate-photo"><img src="img/team-2.png"></div>
        <div class="teammate-name"><h4>Михаил Рыбаков</h4></div>
        <div class="teammate-text">Хороший человек, много умеет полезного</div>
    </div>
    <div class="teammate">
        <div class="teammate-photo"><img src="img/team-2.png"></div>
        <div class="teammate-name"><h4>Аркадий Кожевников</h4></div>
        <div class="teammate-text">Хороший человек, много умеет полезного</div>
    </div>

    <h2 style="text-align:center">Те, без кого бы мы не справились ^^</h2>
    <div class="teammate teammate-smaller">
        <div class="teammate-photo"><img src="img/team-3.jpg"></div>
        <div class="teammate-name"><h4>Виталий Меньшиков</h4></div>
        <div class="teammate-text">Хороший человек, много умеет полезного</div>
    </div>
    <div class="teammate teammate-smaller">
        <div class="teammate-photo"><img src="img/team-3.jpg"></div>
        <div class="teammate-name"><h4>Никита Белый</h4></div>
        <div class="teammate-text">Хороший человек, много умеет полезного</div>
    </div>
    <div class="teammate teammate-smaller">
        <div class="teammate-photo"><img src="img/team-3.jpg"></div>
        <div class="teammate-name"><h4>Никита Чёрный</h4></div>
        <div class="teammate-text">Хороший человек, много умеет полезного</div>
    </div>
    <div class="teammate teammate-smaller">
        <div class="teammate-photo"><img src="img/team-3.jpg"></div>
        <div class="teammate-name"><h4>Вадим "да-и-фиг-с-ним" Ларичев</h4></div>
        <div class="teammate-text">Хороший человек, много умеет полезного</div>
    </div>
</div>
{% endblock content %}